# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
out

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# xml and related files
*.xml
*.Identifier